<%= link_to I18n.t("sessions.new.not_registered"), new_user_path %>
<div id="sessions-new" class="sessions-wrapper"></div>

<script type="text/javascript">
  (new c.v.SessionsNewView({el: "#sessions-new"})).render();
</script>
