<div>
  <div id='events'></div>
</div>

<script type='text/javascript'>
  c.data.application = new Backbone.Model(<%= raw(ApplicationDecorator.new(@app).to_json) %>);
  (new c.v.EventsIndexView({el: '#events'})).render();
</script>
