<div>
  <form class="applications new">
    <div class="field name">
      <label for="name"></label>
      <input type="text" id="name" name="Name" value="{{email}}"/>
    </div>
    <div class="submit">
      <input type="submit" value="Create"/>
    </div>
  </form>
</div>
