<div>
  <form class='applications new'>
    <div class='field name'>
      <label for='name'></label>
      <input type='text' id='name' name='{{t "common.name"}}' value='{{email}}'/>
    </div>
    <div class='submit'>
      <input type='submit' value='{{t "buttons.create"}}'/>
    </div>
  </form>
</div>
