<div>
  <form class="sessions new">
    <div class="field email">
      <label for="email"></label>
      <input type="text" id="email" name="Email" value="{{email}}"/>
    </div>
    <div class="field password">
      <label for="password"></label>
      <input type="password" id="password" name="Password" value="{{password}}"/>
    </div>
    <div class="submit">
      <input type="submit" value="Submit"/>
    </div>
  </form>
</div>
